.progress-wrapper {
  margin: 20px 0 26px;
}

.progress-label {
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
  color: #94a3b8;
  margin-bottom: 6px;
}

.progress-container {
  height: 12px;
  background: #020617;
  border-radius: 999px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(
    90deg,
    #3b82f6,
    #22c55e
  );
  transition: width .5s ease;
}
